<html lang="en">
    <head>
        <title>Plumon</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script type="text/javascript" src="/javascripts/jquery.1.10.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
        <script type="text/javascript" src="/javascripts/m.js"></script>
    </head>
    <body>
        <div>
            Pluma!
        </div>
        <div id="notelist">

        </div>
    </body>
</html>