<html lang="en">
    <head>
        <title>我的代码段</title>
        <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
        <script src="/javascripts/jquery.1.10.js" ></script>

    </head>
    <body>

    </body>
</html>